.Toolbar {
  display: flex;
  margin: 0.5rem;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: 0;
  padding-bottom: 0.5rem;
  width: inherit;
}

.toolbar-btn {
  margin-right: 1rem;
  opacity: 90%;
  margin-top: 0.5rem;
}
